.intro {
  background-color: white;
  display: flex;


  .left{
    flex: 0.5;
    overflow: hidden;

    .imgContainer{
      width: 700;
      height: 700;
      
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        height: 50%;
      }
    }

    
  }

  .right{
    flex: 0.5;
    // padding: 10vh;
    position: relative;
   
    .wrapper{
      width: 100%;
      height: 100%;
      padding-top: 50px;
      // padding-left: 50px;
      margin: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1{
        font-size: 60px;
        margin: 10px 0;
        color: crimson;
      }

      h2{
        font-size: 35px;
      }

      h3{
        font-size: 30px;

      }
    }

    a{
      position:absolute;
      bottom: 20px;
      left: 40%;
      height: 5%;
      width: 30px;
      
    }
    .arrow{
      width: 30px;
      animation: 2s;
    }
  }
}